{% extends 'base.html.twig' %}

{% block title %}Sikeres regisztráció
{% endblock %}

{% block body %}

	<div class="success-msg">
		<h1>
			<span class="badge bg-success">
				Köszönjük szépen a kérdésedet. Válaszunkkal hamarosan keresünk a megadott e-mail címen.
			</span>
		</h1>
	</div>

{% endblock %}
