{% extends 'base.html.twig' %}

{% block title %}Regisztr치ci칩
{% endblock %}

{% block body %}

	<div class="form">
		<h1>Regisztr치ci칩</h1>

		{{ include('user/_form.html.twig') }}
	</div>

{% endblock %}
